.idea
.DS_Store
*.pt
*.parquet
*.csv
*.pkl
*.json
__pycache__
.python-version
CLAUDE.md

wandb/
logs/
log/
state/
dataset/
prodigy/
prodigy_clean/
facebook_uk_ru/
sbert/
bge_m3_embeddings/
xlm_roberta_embeddings/
.ipynb_checkpoints/
checkpoints/
*.gz
