scikit-learn>=1.8.0
scipy>=1.10.0
sentence-transformers==2.2.2
torch==2.0.1
torch-geometric==2.3.1
tqdm==4.64.0
traitlets==5.3.0
transformers==4.29.2
wandb
attrdict
pandas
numpy
lmdb
ogb
ray
torch_scatter
torch_sparse
